<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nth.MultiThreads.mapper.TbCmUserMapper">
    <select id="getAllUser" resultType="map">
        SELECT * FROM TB_CM_USER
    </select>

    <insert id="insertData">
        INSERT INTO t_big_data
        VALUES (#{ID},#{NAME},#{VALUE},#{DATE})
    </insert>

    <select id="insertFromProc" statementType="CALLABLE">
        {CALL create_data(
            #{index, mode=IN, jdbcType=INTEGER},
            #{limit, mode=IN, jdbcType=INTEGER}
        )}
    </select>

</mapper>